.log-history {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log-history select,
.log-history label,
.log-history p,
.log-history h1 {
    position: relative;
    z-index: 10;
    margin-top: 100px;
}

.content-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;
    padding: 40px;
    color: white;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    position: absolute;
    flex-shrink: 0;
    border-radius: 30px;
    z-index: 1;
    left: 50%;
    top: 50%;
}

.rectangle.blue {
    transform: translate(-50%, -50%) rotate(-90deg);
    background: #3538DB;
    width: 600px;
    height: 400px;
}

.rectangle.magenta {
    transform: translate(-50%, -50%) rotate(-96.67deg);
    background: #8E35DB;
    width: 600px;
    height: 400px;
}

.rectangle.purple {
    transform: translate(-50%, -50%) rotate(101.74deg);
    background: #530892;
    width: 600px;
    height: 400px;
}

.log-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    color: white;
}

.log-item {
    text-align: left;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.75rem;
    border-radius: 10px;
}

.pagination-btn {
    padding: 10px 30px;
    border-radius: 200px;
    border: 2px solid #140B92;
    background: #B787E0;
    color: black;
    cursor: pointer;
    font-size: 12px;
}
