.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  height: 85px;
  width: 1080px;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 4.5rem;
  color: #fff;
  text-decoration: none;
}

.navbar-left .logo-img {
  height: 80px;
  display: block;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .menu-icon,
.navbar-right .gear-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}